In [34]:
import os
import pandas as pd

root_dir = "D:\\Minor2\\Work\\AutoImageCaption\\New\\flickr\\images\\"
df = pd.read_csv("D:\\Minor2\\Work\\AutoImageCaption\\New\\flickr\\_captions.txt")

missing_images = [img for img in df["image"] if not os.path.exists(os.path.join(root_dir, img))]
print("Missing images:", missing_images[:5])  # Print a few missing images

Missing images: []

In [35]:
df.head(10)

            image                                            caption
0  1000092795.jpg   Two young guys with shaggy hair look at their...
1  1000092795.jpg   Two young , White males are outside near many...
2  1000092795.jpg   Two men in green shirts are standing in a yard .
3  1000092795.jpg       A man in a blue shirt standing in a garden .
4  1000092795.jpg            Two friends enjoy time spent together .
5    10002456.jpg   Several men in hard hats are operating a gian...
6    10002456.jpg   Workers look down from up above on a piece of...
7    10002456.jpg   Two men working on a machine wearing hard hats .
8    10002456.jpg              Four men on top of a tall structure .
9    10002456.jpg                         Three men on a large rig .

In [38]:
df.isna().sum()

image      0
caption    0
dtype: int64

In [37]:
df = df.fillna({'caption': 'Hi'})

In [31]:
df['caption'] = df['caption'].str.strip('"')

In [39]:
df.to_csv('D:\\Minor2\\Work\\AutoImageCaption\\New\\flickr\\captions.txt')